<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div id= "wrapper">
        <div id = "nav_bar">
            <p>Login/Registration</p>
            <p>Community</p>
            <p>Reviews</p>
            <p>BookLists</p>
        </div>
        <div id = "header"></div>
        <div id = "current"></div>
        <div id = "community"></div>
        <div id = "news"></div>
        <div id = "store"></div>
        <div id = "footer"></div>
    </div>
</body>
</html>